.carrossel{
    width: 480px;
    height: 270px;
    overflow: hidden;
}

.carrossel .imagens{
    width: 1100%;
    animation: animacao 0s infinite;
}

.carrossel .imagens img{
    width: 9.04%;
}

@keyframes animacao{
    0% {margin-left: 0%;}
    5% {margin-left: 0%;}
    7% {margin-left: -100%;}
    12% {margin-left: -100%;}
    14% {margin-left: -200%;}
    19% {margin-left: -200%;}
    24% {margin-left: -300%;}
    49% {margin-left: -300%;}
    52% {margin-left: -400%;}
    62% {margin-left: -400%;}
    65% {margin-left: -500%;}
    75% {margin-left: -500%;}
    77% {margin-left: -600%;}
    87% {margin-left: -600%;}
    90% {margin-left: -700%;}
    100% {margin-left: -700%;}
    80% {margin-left: -800%;}
    85% {margin-left: -800%;}
    90% {margin-left: -900%;}
    95% {margin-left: -900%;}
    100% {margin-left: -400%;}
}
