.carrossel{
    width: 480px;
    height: 270px;
    overflow: hidden;
}

.carrossel .imagens{
    width: 1000%;
    animation: animacao 30s infinite;
}

.carrossel .imagens img{
    width: 30%;
}

@keyframes animacao{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: -400%;}
}
